:root {
  /* Primary    */ --c1: #ec0d0e; 
  /* Secondary  */ --c2: #ee7518;
  /* Tertiary   */ --c3: #ffc702;
  /* Background */ --bg: #e8cba3;
  /* Accent     */ --ac: #307e8a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  
}
.content-container {
  background-color: var(--b);
}

/* end theme colorss */

h2 {
  text-align: center;
}

form {
  border: 3px solid #f1f1f1;
  max-width: fit-content;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}

/* Container holding the image and the text */
.img-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

