{% load static %}
<!DOCTYPE html>
{% block html %}
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
          
        <div id="app">{% block main %}{% endblock %}</div>
          
        <script type="module">
            import { createApp } from 'vue'
            import component from "{% static 'login/component.js' %}"
          
            createApp(component).mount('#app')
        </script>
        {% endblock %}
    </body>
</html>
{% endblock %}
