{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- install bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <!-- TODO: conditionally show these items based on UserProfile.authLevel -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- invalid links for testing purposes -->
                {% if request.user.userprofile.authLevel == "CU"%}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - customer</a>
                </li>
                {% elif request.user.userprofile.authLevel == "TW" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - til worker</a>
                </li>
                {% elif request.user.userprofile.authLevel == "CR" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - Car Retrieval Specialist</a>
                </li>
                {% elif request.user.userprofile.authLevel == "MA" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - Manager</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <!-- display login/out depending on auth status -->
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
