{% extends 'base.html' %}
{% load static %}
{% block title %}Dan's Auto Barn{% endblock %}
{% block content %}
    <div class="d-flex flex-column">
        {% comment %} TODO: Change to logo {% endcomment %}
        <div style="width: 100%; background-color: var(--bg)">
            <h1 class="text-center" style="color: var(--ac)">Dan's Auto Barn</h1>
        </div>
        {% comment %} TODO: Stylize this so the find reservation is over the image of the car {% endcomment %}
        <div style="position: relative;">
            <div class="" style="width: 100%">
                <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Ferrari Testarossa" style="width:100%;">
            </div>
            <div class="home-button" align="center" onclick="location.href = '/search';">Make a reservation now!</div>
        </div>
        {% comment %} Filler Content below {% endcomment %}
        <div class="" style="width: 100%">
            <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Cars Vending Machine" style="width:100%;">
        </div>
        <div class="" style="width: 100%">
            <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Cars Vending Machine" style="width:100%;">
        </div>  
        {% comment %} TODO: Signin/login section OR profile page depending on authorization {% endcomment %}
    </div>
{% endblock %}
