{% extends 'base.html' %}
{% load static %}
{% block title %}Dan's Auto Barn{% endblock %}
{% block content %}
    <div class="d-flex flex-column">
        <div style="position: relative;">
            <div class="" style="width: 100%">
                <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Ferrari Testarossa" style="width:100%;">
            </div>
            <div class="home-button nav-item custom-nav-item">
                <a class="nav-link" align="center" href="location.href = '/search';">Make a reservation now!</a>
            </div>
        </div>
        {% comment %} Filler Content below {% endcomment %}
        <div class="" style="width: 100%">
            <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Cars Vending Machine" style="width:100%;">
        </div>
        <div class="" style="width: 100%">
            <img src="{% static "UserAuth/media/testarossa.jpg" %}" alt="Cars Vending Machine" style="width:100%;">
        </div>  
        {% comment %} TODO: Signin/login section OR profile page depending on authorization {% endcomment %}
    </div>
{% endblock %}
