{% extends 'UserAuth/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>LOGIN</h2>
    <form method="post">

        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
    
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
    
            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="password">Forgot <a href="#">password?</a></span>
        </div>
    
        <!-- TODO: edit layout of page & error message 
        {% csrf_token %}{{form}}
        <p>Don't have an account? Create one <a href="/signup">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>-->
    </form>
{% endblock %}
