{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="post" class="card" style="margin-top: 1rem; padding: 1rem;">
        <h2>Sign Up</h2>
        <!-- TODO: edit layout of page & error message -->
        {% csrf_token %}{{form}}
        <button type="submit" class="btn btn-success">Sign Up</button>
        
        <div class="container text-center">
            <p>Have an account? Log in <a href="/login">here</a></p>
        </div>
    </form>
{% endblock %}