{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- install bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>{% block title %}Dan's Auto Barn{% endblock %}</title>
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <!-- TODO: conditionally show these items based on UserProfile.auth_level -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">Find Reservation</a>
                </li>
                <!-- invalid links for testing purposes -->
                {% if request.user.userprofile.auth_level == "CU"%}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">Bad Link</a>
                </li>
                {% elif request.user.userprofile.auth_level == "TW" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - til worker</a>
                </li>
                {% elif request.user.userprofile.auth_level == "CR" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - Car Retrieval Specialist</a>
                </li>
                {% elif request.user.userprofile.auth_level == "MA" %}
                <li class="nav-item">
                    <a class="nav-link" href="/badlink">bad link - Manager</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <!-- display login/out depending on auth status -->
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!-- Vue script -->
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
                "@vue/devtools-api": "https://unpkg.com/@vue/devtools-api@6.5.0/lib/esm/index.js", // Dependency for vue-router
                "vue-router": "https://unpkg.com/vue-router@4/dist/vue-router.esm-browser.js" // Helps map urls to views without refreshing the page
            }
        }
    </script>

    <!-- actual importing of content -->
    <div class="content-container" id="app">
        {% block content %}{% endblock content %}
    </div>

    <!-- Vue script -->
    <script type="module">
{% block vueapp %}
import { createApp } from 'vue';
let app = createApp({
    delimiters: ['[[', ']]'], // Need to change delimiters due to django vue conflict
    {% block appdata %}
    data() {
        return {}
    }
    {% endblock appdata %}
})
app.mount('#app');
{% endblock vueapp %}
    </script>

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% endblock body %}
</body>
</html>
