{% extends 'base.html' %}
{% block content %}

{% if not error %}
{% block tabs_header %}
<h1 class="text-center py-3">Default Tab Headers</h1>
{% endblock tabs_header %}
<hr>
<div class="d-flex">

    <!-- Sidebar -->
    <ul class="nav flex-column flex-shrink-0">
        {% for tab in tabs %}
        <li class="nav-item" style="margin-bottom: 0.25rem;">
            <router-link
            class="nav-link"
            to="/{{ tab.url }}/"
            active-class="active" 
            exact-active-class="active"
            >{{ tab.tab_title }}</router-link>
        </li>
        {% endfor %}
    </ul>

    <div>
        <!-- Selected Tab Content -->
        <div v-if="displayMessages">
            <div v-for="message in messages" class="alert alert-danger" v-cloak>
                <i class="fa-solid fa-triangle-exclamation me-2"></i>
                [[ message.message ]]
            </div>
        </div>
        <router-view class="p-2"></router-view>
    </div>
</div>

{% else %}
<h1 class="text-center py-3">{{ error }}</h1>
{% endif %}

{% endblock content %}

{% block vue_app %}
import { createApp } from 'vue';
import { createRouter, createWebHistory } from 'vue-router';

// Initialize profile tab components
{% for tab in tabs %}
const {{ tab.component_name }} = { template: `{% include tab.template %}` };
{% endfor %}

// Create router so we can jump straight to these tabs from other pages
const router = createRouter({
    history: createWebHistory("/{% block base_url %}{% endblock base_url %}/"), // The argument here is the base url for the page
    routes: [
        {% for tab in tabs %}
        { path: '/{{ tab.url }}/', component: {{ tab.component_name }}},
        {% endfor %}
        { path: '/:catchAll(.*)/', redirect: '/{{ tabs.0.url }}/'}, // Default to the first tab if none matched
    ]
});

let app = createApp({
    delimiters: ['[[', ']]'],
    data() {
        return {
            messages: [
                {% for message in messages %}
                { "message": "{{ message }}",
                    "tags": "{{ message.tags }}" },
                {% endfor %}
            ]
        }
    },
    computed: {
        currentTab() {
            let path = this.$route.path;
            path = path.replace(/\/$/, "");
            return path.split('/').pop()
        },
        displayMessages() {
            console.log(this.currentTab)
            if (this.messages.length > 0) {
                console.log(this.messages)
                tags = this.messages[0]["tags"].split()
            } else return false;
            print(tags)
            if (this.messages.length > 0 && this.currentTab in this.messages[0]["tags"].split()) {
                console.log("True")
                return true;
            } else {
                console.log("False")
                return false;
            }
        },
    },
});

app.use(router);
app.mount('#app');
{% endblock vue_app %}
