{% extends 'base.html' %}
{% block content %}
<div>
    <h3 class="text-center">Checkout Reservation</h3>
    <p class="text-center;">Today's Date: {{formatted_date}}</p>
    {% if request.user.userprofile.auth_level == 'MA' or request.user.userprofile.auth_level == 'TW' %}
    <div class="d-flex flex-column container card" align="center">
        <div class="d-flex flex-row">
            <p><img src="{{ MEDIA_URL }}{{ res.car.image }}" class="image-container" alt="Image of {{ res.car.make }} {{ res.car.model }}" width="200"></p>
            <div class="d-flex flex-column" style="padding-left: 1rem;">
                <h2 style="text-align: left; padding-bottom: 0%;">{{res.car.make}} {{res.car.model}}</h2>
                <p style="text-align: left; padding-bottom: 0%;">{{res.car.year}}</p>
                <p style="text-align: left; padding-bottom: 0%;"><span>${{res.get_total_cost}} Has been paid already.</span></p>
            </div>
        </div>
        <form action={% url 'Employee:checkout' res.id %} method="post" style="min-width: 20rem; padding: 0.5rem; margin-bottom: 0rem !important;" class="card">
            {% csrf_token %}
            <p>Add insurance and checkout reservation</p>
            <input type="radio" id="insurance" name="insurance">Add insurance for $50?</input>
            <button class="nav-item btn-secondary" type="submit" v-cloak>Confirm Checkout</button>
        </form>
    {% else %}
        <div>
            <h2>This page is only accessible to the Manager</h2>
        </div>
    {% endif %}     
</div>
{% endblock %}