<div>
    <form method="post" class="p-3 m-0">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputBal">Enter an amount to transfer:</label>
            <div class="input-group mb-2">
                <div class="input-group-text">$</div>
                <input type="number" min="1" class="form-control" id="inputBal" name="inputBal" placeholder="Add Balance">
            </div>
        </div>
        <div>{{ bal_msg }}</div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>