{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-column">
    <div align="center" style="width: 100%; background-color: var(--bg)">
        <h2 style="color: var(--ac)">Confirm Reservation</h2>
        <p>Today's Date: {{ formatted_date }}</p>
    </div>
</div>

{% if request.user.is_authenticated %}
    <div class="d-flex flex-row container card justify-content-between align-items-end" align="center">
        <div class="d-flex flex-row">
            <img src="{{ MEDIA_URL }}{{ car.image }}" class="image-container" alt="Image of {{ car.make }} {{ car.model }}" width="200">
            <div class="d-flex flex-column">
                <h3 style="padding-left: 0.5rem; text-align: left;">{{reservation.car.year}} {{reservation.car.make}} {{reservation.car.model}}</h3>
                <p style="padding-left: 0.5rem; text-align: left;">Total Cost: ${{ reservation.get_total_cost }}</p>
            </div>
        </div>
        <form action={% url 'Customer:confirmation' token reservation.pk %} method="post">
            {% csrf_token %}
            <button class="btn btn-secondary nav-item" type="submit">Confirm Reservation!</button>
        </form>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>
{% else %}
<div>
    <p>User is not signed in!</p>
</div>
{% endif %}

{% endblock content %}