{% extends 'base.html' %}
{% block title %}User Profile{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>{{ request.user.userprofile.user | title }}'s Profile</h1>

<div class="container-fluid row">

        <!-- Sidebar -->
        <hr>
        <ul class="nav nav-pills flex-column col-2">
            <li class="nav-item" v-for="(tab, index) in tabs" :key="index" @click="selectedTab = tab.id">
                <a class="nav-link" :class="{ active: selectedTab === tab.id }" href="#">[[ tab.name ]]</a>
            </li>
        </ul>
        <!-- Sidebar -->

        <!-- Selected Tab Content -->
        <div class="main-content col-10">
            <div v-cloak>
                <h1>[[ tabContent ]]</h1>
            </div>
        </div>
        <!-- Selected Tab Content -->
</div>

{% else %}
<div>
    <p>User is not signed in!</p>
</div>
{% endif %}
{% endblock content %}

{% block vueapp %}
    data() {
        return {
            selectedTab: "info",
            tabs: [
                { id: 'info', name: 'Personal Info' },
                { id: 'balance', name: 'Manage Balance' },
                { id: 'reservations', name: 'Current Reservations' },
                { id: 'security', name: 'Account Security' },
                { id: 'car-broke', name: 'Car Broke Down?' },
            ],
        }
    },
    computed: {
        tabContent() {
            let tabContentMap = {
                'info': 'Personal Info',
                'balance': 'Manage Balance',
                'reservations': 'Current Reservations',
                'security': 'Account Security',
                'car-broke': 'Car Broke Down?',
            };
            return tabContentMap[this.selectedTab] || '';
        }
    }
{% endblock vueapp %}
