{% extends 'base.html' %}
{% block title %}User Profile{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<h1 class="text-center py-3">{{ request.user.userprofile.user | title }}'s Profile</h1>
<hr>

<div class="d-flex">

    <!-- Sidebar -->
    <ul class="d-flex nav nav-pills flex-column">
        <li class="nav-item p-2" v-for="tab in tabs" :key="tab.id" v-cloak>
            <router-link :to="tabLink(tab)" class="nav-link" :class="{ active: isTabActive(tab) }">[[ tab.name ]]</router-link>
        </li>
    </ul>
    <!-- Sidebar -->

    <!-- Selected Tab Content -->
    <div class="d-flex">
        <router-view class="p-2"></router-view>
    </div>
    <!-- Selected Tab Content -->


</div>

{% else %}
<div>
    <p>User is not signed in!</p>
</div>
{% endif %}
{% endblock content %}

{% block vueapp %}
import { createApp } from 'vue';
import { createRouter, createWebHistory } from 'vue-router'

// Initialize profile tab components
const Info = { template: `{% include 'Customer/profileTabs/personalInfo.html' %}` };
const Balance = { template: `{% include 'Customer/profileTabs/manageBalance.html' %}` };
const Reservations = { template: `{% include 'Customer/profileTabs/reservations.html' %}` };
const PassChange = { template: `{% include 'Customer/profileTabs/passChange.html' %}` };
const CarBroke = { template: `{% include 'Customer/profileTabs/carBroke.html' %}` };

// Create router so we can jump straight to these tabs from other pages
const router = createRouter({
    history: createWebHistory(),
    routes: [
        { path: '/profile/info', component: Info},
        { path: '/profile/balance', component: Balance},
        { path: '/profile/reservations', component: Reservations},
        { path: '/profile/pass-change', component: PassChange},
        { path: '/profile/car-broke', component: CarBroke},
    ]
});

let app = createApp({
    delimiters: ['[[', ']]'],
    data() {
        return {
            tabs: [
                { id: 'info', name: 'Personal Info' },
                { id: 'balance', name: 'Manage Balance' },
                { id: 'reservations', name: 'Current Reservations' },
                { id: 'pass-change', name: 'Account Security' },
                { id: 'car-broke', name: 'Car Broke Down?' },
            ],
        }
    },
    computed: {
        currentTab() {
            if (this.$route.matched.length > 0) {
                return this.$route.path.split('/').pop()
            }
            return 'info'
        },
    },
    methods: {
        tabLink(tab) {
            return `/profile/${tab.id}`;
        },
        isTabActive(tab) {
            return this.currentTab === tab.id;
        },
    },
})
app.use(router);
app.mount('#app');
{% endblock vueapp %}
