{% extends 'base.html' %}
{% block title %}User Profile{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}
<h1>{{ request.user.userprofile.user | title }}'s Profile</h1>

<div class="container-fluid row">
        <!-- Sidebar -->
        <hr>
        <ul class="nav nav-pills flex-column col-2">
            <li class="nav-item" @click="selectedTab = 'info'">
                <a class="nav-link" :class="{ active: selectedTab === 'info' }" href="#">Personal Info</a>
            </li>
            <li class="nav-item" @click="selectedTab = 'balance'">
                <a class="nav-link" :class="{ active: selectedTab === 'balance' }" href="#">Manage Balance</a>
            </li>
            <li class="nav-item" @click="selectedTab = 'reservations'">
                <a class="nav-link" :class="{ active: selectedTab === 'reservations' }" href="#">Current Reservations</a>
            </li>
            <li class="nav-item" @click="selectedTab = 'security'">
                <a class="nav-link" :class="{ active: selectedTab === 'security' }" href="#">Account Security</a>
            </li>
            <li class="nav-item" @click="selectedTab = 'car-broke'">
                <a class="nav-link" :class="{ active: selectedTab === 'car-broke' }" href="#">Car Broke Down?</a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div class="main-content col-10">
            <div v-if="selectedTab === 'info'" v-cloak>
                <h1>Personal Info</h1>
            </div>
            <div v-else-if="selectedTab === 'balance'" v-cloak>
                <h1>Manage Balance</h1>
            </div>
            <div v-else-if="selectedTab === 'reservations'" v-cloak>
                <h1>Current Reservations</h1>
            </div>
            <div v-else-if="selectedTab === 'security'" v-cloak>
                <h1>Account Security</h1>
            </div>
            <div v-else-if="selectedTab === 'car-broke'" v-cloak>
                <h1>Car Broke Down?</h1>
            </div>
        </div>
</div>

{% else %}
<div>
    <p>User is not signed in!</p>
</div>
{% endif %}
{% endblock content %}

{% block vueapp %}
    data() {
        return {
            selectedTab: "info"
        }
    }
{% endblock vueapp %}
