{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex flex-column">
        <div style="width: 100%; background-color: var(--bg)">
            <h1 class="text-center" style="color: var(--ac)">Dan's Auto Barn</h1>
        </div>
        <div align="center" style="width: 100%; background-color: var(--bg)">
            <h2 style="color: var(--ac)">Reservation</h2>
            <p>Today's Date: {{formatted_date}}</p>
        </div>
    </div>
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }}">
        {% if message.tags == "success" %}
        <i class="fa-solid fa-circle-check me-2"></i>
        {% elif message.tags == "danger" %}
        <i class="fa-solid fa-triangle-exclamation me-2"></i>
        {% endif %}
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
        <div class="d-flex flex-column container" align="center">
            <p><img src="{{ MEDIA_URL }}{{ car.image }}" class="image-container" alt="Image of {{ car.make }} {{ car.model }}" width="200"></p>
            <p>
                Vehicle: {{car.make}} {{car.model}}<br>
                Year: {{car.year}}<br> 
                Reservation Price: ${{car.reservationCost}} (per day)<br>
            </p>
            <div class="container">
                <p>Current reservations for this car:</p>
                {% for res in curr_reservations %}
                    {{res.return_date}} <br>
                {% empty %}
                    <p>There are currently no reservations scheduled.</p>
                {% endfor %}
            </div>
            <p> Select dates for your reservation </p>
            <form action={% url 'Customer:reservation' car.id %} method="post">
                {% csrf_token %}
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date" v-model="startDate">
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date" v-model="endDate">
                <p v-cloak >[[ availabilityMessage ]]</p>
                <p v-cloak >[[ costMessage ]]</p>
                <button class="btn btn-primary" :class="{ 'disabled': buttonDisabled }" type="submit" v-cloak>Make Reservation</button>
            </form>
        </div>
    {% else %}
    <div>
        <h2>User is not signed in!</h2>
    </div>
    {% endif %}
{% endblock content %}

{% block vue_app %}
import axios from 'axios';
import { createApp } from 'vue';

let app = createApp({
    delimiters: ['[[', ']]'],
    data() {
        return {
            startDate: '',
            endDate: '',
            available: undefined,
            price: undefined,
        };
    },
    watch: {
        startDate() {
            this.checkAvailability();
        },
        endDate() {
            this.checkAvailability();
        },
    },
    methods: {
        checkAvailability() { // Submit a post request to check for the availability of a certain car

            axios.get(`{% url 'Customer:availability'%}?carID={{ car.id }}&start=${this.startDate}&end=${this.endDate}`)
            .then((response) => {
                if ("error" in response.data) {
                    console.log(response.data.error)
                    this.available = undefined;
                    this.price = 0;
                } else {
                    this.available = response.data.available;
                    this.price = response.data.price;
                }
            })
            .catch((error) => console.log(error));
        },
    },
    computed: {
        availabilityMessage() {
            if (!this.startDate && !this.endDate) {
                return 'Please enter a start date and an end date.'
            } else if (!this.startDate) {
                return 'Please enter a start date.'
            } else if (!this.endDate) {
                return 'Please enter an end date.'
            }

            if (this.available) {
                return 'The selected dates are available.';
            } else {
                return 'The selected dates are not available.';
            }
        },
        costMessage() {
            if (this.price) {
                return `Reservation Cost: $${this.price}`
            }
            return ''
        },
        buttonDisabled() {
            if (!this.startDate || !this.endDate) return true;
            return !this.available
        },
    },
})

app.mount('#app');

{% endblock vue_app %}