{% extends 'base.html' %}
{% load static %}
{% block title %}Dan's Auto Barn{% endblock %}
    {% block content %}
        <div class="d-flex flex-column">
            <div style="width: 100%; background-color: var(--bg)">
                <h1 class="text-center" style="color: var(--ac)">Dan's Auto Barn</h1>
            </div>
            <div align="center" style="width: 100%; background-color: var(--bg)">
                <h2 style="color: var(--ac)">Reservation</h2>
                <p>Today's Date: {{formatedDate}}</p>
            </div>
        </div>
        <div class="d-flex flex-column container" align="center">
            <p><img src="{{ MEDIA_URL }}{{ car.image }}" class="image-container" alt="Image of {{ car.make }} {{ car.model }}" width="200"></p>
            <p>
                Vehicle: {{car.make}} {{car.model}}<br>
                Year: {{car.year}}<br> 
                Reservation Price: ${{car.reservationCost}}<br>
            </p>
            <div class="container">
                {% if curr_reservations %}
                    <p>Current reservation dates for this car:</p>
                    {{curr_reservations }}
                {% else %}
                    <p>There are no current scheduled reservations at this time</p>
                {% endif %}
            </div>
            <p> Select dates for your reservation
                <form action={% url 'Customer:search' %} method="get">
                    <label for="start">Start date:</label>
                    <input type="date" id="startDate" name="startDate"
                        value={{formatedDate}}
                        min={{formatedDate}}>
                    <label for="end">End date:</label>
                    <input type="date" id="endDate" name="endDate"
                        value={{formatedDate}}
                        min={{formatedDate}}>
                    <input type="submit" value="Reserve">
                </form>
            </p>
        </div>
        {% comment %} {% if request.user.is_authenticated %}
        <div>
            <P>User: {{request.user}}</P>
            <p>User Authlevel: {{request.user.userprofile.auth_level}}</p>
            <P>Balance: {{request.user.userprofile.balance}}</P>
            <P>Staff: {{request.user.is_staff}}</P>
        </div>
        {% else %}
        <div>
            <p>User is not signed in!</p>
        </div>
        {% endif %} {% endcomment %}
    {% endblock %}