{% extends 'base.html' %}
{% load static %}
{% block title %}Dan's Auto Barn{% endblock %}
    {% block content %}
    <div class="d-flex flex-column">
        <div style="width: 100%; background-color: var(--bg)">
            <h1 class="text-center" style="color: var(--ac)">Dan's Auto Barn</h1>
        </div>
        <div align="center" style="width: 100%; background-color: var(--bg)">
            <h2 style="color: var(--ac)">All Reservations</h2>
            <p>Today's Date: {{formatedDate}}</p>
        </div>
    </div>
    <div class="d-flex flex-column container">
        {% if car_inventory %}
        <ol>
            {% for car in car_inventory%}
            <li class="content-container">
                <p><img src="{{ MEDIA_URL }}{{ car.image }}" class="image-container" alt="Image of {{ car.make }} {{ car.model }}" width="200"></p>
                <p>
                    Vehicle: {{car.make}} {{car.model}}<br>
                    Year: {{car.year}}<br> 
                    Reservation Price: ${{car.reservationCost}}<br>
                </p>
                <p align="right"><a href="{% url 'Customer:reservation' car.id %}">
                    <button>Reserve</button></a>                
                </p>
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>There are no cars in the inventory</p>
        {% endif %}
    </div>
    {% endblock %}