{% extends 'base.html' %}
{% load static %}
{% block title %}Dan's Auto Barn{% endblock %}
    {% block content %}
    <div class="container">
        <h1>Dan's Auto Barn</h1>
    </div>
    <div class="container">
        <h2>All Reservations</h2>
        <p>Today's Date: {{formatedDate}}</p>
    </div>
    <div class="container">
        {% if car_inventory %}
        <ol>
            {% for car in car_inventory%}
            <li class="content-container">
                <p><img src="{% static 'Customer/pics/civic.png' %}" class="image-container" alt="civic" width="200"></p>
                <p>
                    Vehicle: {{car.make}} {{car.model}}<br>
                    Year: {{car.year}}<br> 
                    Reservation Price: $50<br>
                    PhotoID: {{car.photoID}}
                </p>
                <p align="right">Click to view availability: <input type="button" value="Reserve"></p>
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>There are no cars in the inventory</p>
        {% endif %}
    </div>
    {% endblock %}