<div>
    {% if request.user.userprofile.auth_level == 'MA' %}
        {% for user in users %}
            <div>
                <h3 class="text-center">{{ user.user | title }} -- {{user.get_auth_level_display}}</h3>
                <button type="submit" class="btn btn-primary">Remove User</button>
            </div>
        {% empty %}
            <p>No users found!</p>
        {% endfor %}
    {% else %}
        <div>
            <h2>This page is only accessible to the Manager</h2>
        </div>
    {% endif %}     
</div>