<div>
    {% if request.user.userprofile.auth_level == 'MA' %}
        {% for user_info in users_data %}
        {% with user=user_info.user_profile buttons=user_info.buttons %}

            <div class="d-flex card my-3 p-3">
                <h3 class="text-center">{{ user.user | title }} -- {{user.get_auth_level_display}}</h3>
                <div class="d-flex flex-column">
                    <button class="flex-row btn btn-secondary nav-item" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseExample{{ user.id }}"
                        aria-expanded="false" aria-controls="collapseExample">
                        Promote/Demote User
                    </button>
                    {% for button in buttons %}
                    <div class="flex-row collapse" id="collapseExample{{ user.id }}">
                        <button class="btn btn-secondary nav-item" type="button" value="{{ button.value }}">
                            {{ button.text }}
                        </button>
                    </div>
                    {% empty %}
                    <p>Nothing to do here. :P</p>
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
        {% empty %}
            <p>No users found!</p>
        {% endfor %}
    {% else %}
        <div>
            <h2>This page is only accessible to the Manager</h2>
        </div>
    {% endif %}     
</div>